@model SuperHeroProject.Models.SuperHero

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    @if (Model.Image != null)
    {
        <img src ="@Model.Image" class="col-sm-3"/>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlterEgo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlterEgo)
        </dd>
        <dt class = "col-sm-2">
            Primary Ability
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimarySuperHeroAbility)
        </dd>
        <dt class = "col-sm-2">
            Secondary Ability
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondarySuperHeroAbility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatchPhrase)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
</div>
